@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: serif;
  color-scheme: light dark;
  color: rgba(251, 251, 251, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}